{% load custom_filters %}
{% include 'includes/head.html' %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        {% include "includes/aside.html" %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          {% include "includes/navbar.html" %}
          <!-- Content wrapper -->
          <div class="content-wrapper">

            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">

                <!-- Invoice Add-->
                <div class="col-lg-12 col-12 mb-lg-0 mb-4">
                    <div class="card invoice-preview-card">
                      <div class="card-body">
                            <div class="card-header d-flex align-items-center justify-content-between">
                              <h5 class="card-header">Assign Document</h5>
                              <button class="float-end btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-asign" >Assign New Document</button>
                            </div>
                            <div class="card-datatable table-responsive pt-0">
                              <table class="datatables-basic1 table">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>User</th>
                                      <th>Document</th>
                                      <th>Is Signed</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  {% if doc_ob %}
                                  {% for doc in doc_ob %}
                                  <tr>
                                      <th></th>
                                      <td>{{ doc.user.username }}</td>
                                      <td>{{ doc.document_file.file.name|get_filename }}</td>
                                      <td>{{ doc.is_signed }}</td>
                                      <td>
                                        <div class="d-flex ">
                                          <a href="{% url "asign_document_detail" doc.id %}" class="btn btn-primary me-2"><i class="menu-icon tf-icons ti ti-pencil" aria-hidden="true"></i></a>
                                          <button data-bs-toggle="modal" data-bs-target="#delete_asign_doc" onclick="delete_asign_doc(this)" class="btn btn-danger" data-id="{{ doc.id }}">
                                            <i class="menu-icon tf-icons ti ti-trash" aria-hidden="true"></i>
                                          </button>
                                        </div>
                                      </td>
                                  </tr>
                                  {% endfor %}
                                  {% endif %}
                              </table>
  
                              {% if doc_ob.paginator.num_pages > 1 %}
                              <nav aria-label="Page navigation" class="float-end mt-3">
                                <ul class="pagination">
                                    {% if doc_ob.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link waves-effect" href="?page=1"><i class="ti ti-chevrons-left ti-xs"></i></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link waves-effect" href="?page={{ doc_ob.previous_page_number }}">previous</a>
                                        </li>
                                    {% endif %}
                            
                                    {% for num in doc_ob.paginator.page_range %}
                                        {% if doc_ob.number == num %}
                                            <li class="page-item active">
                                                <a class="page-link waves-effect" href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% elif num > doc_ob.number|add:"-3" and num < doc_ob.number|add:"3" %}
                                            <li class="page-item">
                                                <a class="page-link waves-effect" href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                            
                                    {% if doc_ob.has_next %}
                                        <li class="page-item">
                                            <a class="page-link waves-effect" href="?page={{ doc_ob.next_page_number }}">next</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link waves-effect" href="?page={{ doc_ob.paginator.num_pages }}"><i class="ti ti-chevrons-right ti-xs"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
  
                            <div class="modal fade" id="delete_asign_doc" tabindex="-1" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <h3 class="text-center text-dark">
                                      Are you sure you want to delete it!
                                    </h3>
                                  </div>
                                  <div class="modal-footer d-flex justify-content-center">
                                    <button type="button" class="btn btn-dark text-white waves-effect mx-2" data-bs-dismiss="modal">
                                      No
                                    </button>
                                    <form action="" method="post">
                                      {% csrf_token %}
                                      <input type="hidden" name="doc_id" value="" id="id_for_delete_c">
                                      <input type="hidden" name="type" value="delete">
                                      <button type="submit" class="btn btn-primary waves-effect waves-light mx-2">Yes</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                                  <div class="modal fade bd-example-modal-lg" id="new-asign" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-md" role="document">
                                          <div class="modal-content">
                                              <div class="container mt-3 mb-3">
                                                  <form id="" class="mb-3" action="" method="POST">
                                                      {% csrf_token %}
                                                      <h3 class="text-center mt-2">Assign New Document</h3>
                                                      <div class="row">
                                                        <div class="mb-3">
                                                            <label for="user">User</label>
                                                            <select class="select2 form-control" id="user" name="user" style="height: 36px;width: 100%;">
                                                                {% for user in users %}
                                                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>                   
                                                        
                                                        <div class="mb-3">
                                                            <label for="document_file" class="form-label">Document</label>
                                                            <select class="select2 form-control" id="document" name="document" style="height: 36px;width: 100%;">
                                                                {% for doc in docs %}
                                                                    <option value="{{ doc.id }}">{{ doc.file.name|get_filename }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                      </div>
                                                      <input type="hidden" name="type" value="new-asign">
                                                      <div class="mb-3">
                                                        <button class="btn btn-primary d-grid w-100" type="submit">Assign Document</button>
                                                      </div>
                                                  </form>
                                              </div>  
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                    </div>
                  </div>

              </div>
            </div>
            <!--/ Content -->

            <!-- Footer -->
            {% include "includes/footer_aside.html" %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!--/ Content wrapper -->
        </div>

        <!--/ Layout container -->
      </div>
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>     
    <!--/ Layout wrapper -->
    <script>
        function delete_asign_doc(button) {
            var id = button.getAttribute('data-id');
            document.getElementById("id_for_delete_c").value = id;
        }
    </script>  
{% include "includes/messages.html" %}
{% include "includes/footer.html" %}