{% load custom_filters %}
{% include 'includes/head.html' %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        {% include "includes/aside.html" %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          {% include "includes/navbar.html" %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row invoice-add">
                <!-- Invoice Add-->
                <div class="col-lg-12 col-12 mb-lg-0 mb-4">
                  <div class="card invoice-preview-card">
                    <div class="card-body">
                          <div class="card-datatable table-responsive pt-0">
                            <div class="container mt-3 mb-3">
                                <form id="formAuthentication" class="mb-3" action="" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label for="user">User</label>
                                                <select class="select2 form-control" id="user" name="user" style="height: 36px;width: 100%;">
                                                    {% for user in users %}
                                                        <option value="{{ user.id }}" {% if user.id == asign_doc_ob.user.id %} selected {% endif %}>{{ user.username }}</option>
                                                    {% endfor %}
                                                </select>
                                                
                                            </div>                   
                                            <div class="mb-3">
                                                <label for="document_file" class="form-label">Document</label>
                                                <select class="select2 form-control" id="document" name="document" style="height: 36px;width: 100%;">
                                                    {% for doc in docs %}
                                                        <option value="{{ doc.id }}" {% if doc.id == asign_doc_ob.document_file.id %} selected {% endif %}>{{ doc.file.name|get_filename }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                      <button class="btn btn-primary d-grid w-100" type="submit">Save</button>
                                    </div>
                                  </form>
                            </div>  
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            {% include "includes/footer_aside.html" %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->
    {% include 'includes/messages.html' %}
{% include 'includes/footer.html' %}
